view#dashboard main .widget {
	position: relative;
	box-sizing: border-box;
	width: clamp(300px, 40%, 95%);
	height: 45%;
	transition: width 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2s ease-in-out;
	will-change: width, height, padding;
	contain: layout paint;
	overflow: clip;
	text-align: left;
	padding: var(--pad3);
	font: large 'Inter';
	justify-content: flex-start;
	border-radius: var(--br2);
}

view#dashboard main .widget.collapsed {
	width: 0;
	height: 0;
	padding: 0;
}

view#dashboard div strong,
view#dashboard div p {
	min-width: 100%;
	max-width: 100%;
}

view#dashboard div p {
	font-weight: 100;
}

view#dashboard div strong {
	font-weight: 400;
}

view#dashboard div button,
view#dashboard div a {
	position: absolute;
	bottom: var(--pad3);
	right: var(--pad3);
}
