chat-button {
	position: absolute;
	top: var(--pad2);
	right: var(--pad2);
	min-width: 5vh;
	max-width: 5vh;
	min-height: 3vh;
	max-height: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

chat-button profile-button:first-of-type {
	position: relative;
	transform: scale(0.75) translateX(100%);
	opacity: 0.75;
}

chat-button profile-button:last-of-type {
	position: relative;
	transform: scale(0.75) translateY(25%);
}
