.action,
.function {
	will-change: transform;
	transition: transform 0.2s ease-in-out;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--pad1);
	font-family: 'Inter';
	font-size: clamp(10px, 2vh, 20px);
	text-align: left;
	padding: calc(var(--pad1) / 2) var(--pad1);
	background: var(--bg-ghost);
	border-radius: var(--br1);
}

.action::before,
.function::before {
	content: '';
	display: none;
	position: relative;
	left: 5%;
	height: clamp(10px, 2vh, 20px);
	width: clamp(1px, 0.25vh, 10px);
	transform: translate(0, 10%);
}

.function::before {
	background: var(--c1);
}

.action::before {
	background: var(--c2);
}
