.action,
.function {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--pad1);
	font-family: 'Inter';
	font-size: clamp(10px, 2vh, 20px);
	text-align: left;
}

.action::before,
.function::before {
	content: '';
	display: block;
	position: relative;
	left: 5%;
	height: clamp(10px, 2vh, 20px);
	width: clamp(1px, 0.25vh, 10px);
	transform: translate(0, 10%);
}

.action::before {
	background: var(--secondary);
}

.function::before {
	background: var(--primary);
}
