.loader-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2.5%;
	max-height: 3vh;
	padding: 0;
	width: 90%;
	max-width: 90%;
}

dialog #loader-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 3vh;
	min-width: 3vh;
	position: relative;
}

view main #loader-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	min-width: 10vh;
	position: relative;
}

#loader-text {
	width: max-content;
	max-width: 90%;
	text-align: left;
	text-wrap: none;
	font-size: 2.75vh;
}

.dot {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	min-width: 15%;
	min-height: 15%;
	background: var(--text);
	border-radius: 50%;
	position: absolute;
	animation: bounce 1.5s infinite ease-in-out;
	font-weight: bold;
	font-size: xx-small;
}

.dot:nth-child(1) {
	left: 0;
	animation-delay: -0.3s;
}
.dot:nth-child(2) {
	left: 40%;
	animation-delay: -0.15s;
}
.dot:nth-child(3) {
	left: 80%;
}

.ready .dot {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	animation: none;
	min-width: 100%;
	min-height: 100%;
}

.success .dot {
	background: green;
}

.success .dot:last-of-type::before {
	content: '✓';
	color: var(--text);
}

.error .dot {
	background: red;
}

.error .dot:last-of-type::before {
	content: '✕';
	color: var(--text);
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-50%);
	}
}
