view section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: calc(40% + var(--pad2));
	max-width: calc(40% + var(--pad2));
	height: auto;
	gap: var(--pad2);
}

section.column {
	flex-direction: column;
}

section.row {
	flex-direction: row;
}

@media (orientation: portrait) {
	view section {
		min-width: 95%;
		max-width: 95%;
	}
}
