menu-item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--pad1);
	margin-left: var(--pad1);
	font-size: clamp(12px, 2.75vh, 20px);
	max-width: 100%;
	text-align: left;
}

menu-item svg {
	will-change: transform;
	transition: transform 0.2s ease-in-out;
	min-height: clamp(12px, 2.75vh, 20px);
	min-width: clamp(12px, 2.75vh, 20px);
	max-height: clamp(12px, 2.75vh, 20px);
	max-width: clamp(12px, 2.75vh, 20px);
	fill: var(--text);
}

menu-item img {
	will-change: transform;
	transition: transform 0.2s ease-in-out;
	min-height: clamp(12px, 3vh, 20px);
	min-width: clamp(12px, 3vh, 20px);
	max-height: clamp(12px, 3vh, 20px);
	max-width: clamp(12px, 3vh, 20px);
	transform: scale(1.1);
}

menu-sub-item {
	margin-top: var(--pad1);
	margin-left: var(--pad2);
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--pad1);
	font-weight: 100;
	font-size: clamp(10px, 2vh, 18px);
}

menu-sub-item svg {
	min-height: clamp(10px, 2vh, 18px);
	min-width: clamp(10px, 2vh, 18px);
	max-height: clamp(10px, 2vh, 18px);
	max-width: clamp(10px, 2vh, 18px);
	fill: var(--text);
}
